
@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Roboto+Slab:400,300,100,700&subset=latin,cyrillic";
@font-face {
    font-family: "hattori";
    src: url("/public/fonts/Hattori Hanzo.otf");
}
@font-face {
    font-family: "hattori italic";
    src: url("/public/fonts/Hattori Hanzo Italic.otf");
}
html, body {
    overflow-x: hidden;
}
body {
    background-image: url("/public/images/2-fon-dlya-sayta.png");
    color: #3c3c3c;
    font-family: Open Sans Condensed;
    padding-top: 10px;
}
footer {
    background: #2c2c2c none repeat scroll 0 0;
    color: #fff;
    font-family: hattori;
    padding: 30px 0;
}
h1, .h1 {
    font-size: 40pt;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
    background-color: #3c3c3c;
}
#scroll-menu .container{
    padding-left: 0;
}
.breadcrumbs{
    background: rgba(0,0,0,0.1);
    width: 100%;
    height: 50px;
    line-height: 50px;
    /*!  */
    font-family: hattori italic;

    font-size: 14px;
}
.breadcrumbs span{
    color: #cccccc;
    padding: 0 5px;
}
#product {
    font-family: "hattori";
}
#product .descUnderImg{
    text-align: right;
    /*!  */
    padding-top: 10px;
    font-family: hattori;
}
#product .carousel-control.right{
    background: none;
}
#product .unitListBlock{

}
#product .unitListName{

    height: auto;
}
#product .unitListImg{

    height: 170px;
}
#product .carousel-control.left{

    left: -130px;
    /*!  */
    top: -100px;
}
#product .carousel-control.right{

    top: -100px;
    right: -130px;
}
.zoomPad{
    z-index:0 !important;
    margin-top: 5px;
}
#midMenu {
    z-index: 2147483647;
}
.zoomPad .img-thumbnail {
    border: medium none;
    border-radius: 0;
    padding: 0;
    z-index: 1;
}
#catalog img {
    max-height: 150px;
}
#factory .unit {
    padding: 10px;
}
#factory .more {
    text-align: right;
}
#factory .more .btn {
    border-radius: 0 0 5px 5px;
}
#factory h3 {
    margin-top: 10px;
}
#factory {
    margin-bottom: 30px;
}
#factory .unit {
    height: 350px;
}
#vacancy .function {
    display: inline-block;
    float: left;
}
input[type="file"] {
    height: auto;
}
#vacancy .panel-body {
    padding-left: 30px;
}
#vacancy a {
    text-decoration: none;
}
#vacancy .properties {
    margin-bottom: 10px;
}
@media all and (max-width: 768px) {
    #factory .unit {
        height: auto;
    }
    #factory .image {
        text-align: right;
    }
}
.bookOnline {
    background: orange none repeat scroll 0 0;
    padding: 5px;
}
.bookOnline .btn-success {
    background: yellowgreen none repeat scroll 0 0 !important;
}
.logo-bottom {
    padding: 27px 0 0;
    opacity: 0.9;
}
.bookOnline h4 {
    color: #fff;
}
.navbar-brand > img {
    margin-top: -29px;
}
#topInfoText {
    color: #9c9c9c;
    font-family: hattori;
    padding: 25px 0 0;
}
.nav > li {
    text-align: center;
}
.imageRubber {
    max-width: 100%;
}
.fullText {
    margin-bottom: 20px;
}
.logo {
    display: block;
    padding: 30px 0 40px;
}
.video-container {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}
.video-container iframe, .video-container object, .video-container embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.faceProducts {
}
.faceProducts h6 {
    margin-top: 0;
}
.faceProducts hr {
    border-color: #474747;
}
.faceProducts h2 {
    margin-top: 0;
}
.carousel-caption {
    bottom: 0;
    height: 100%;
    left: auto;
    right: 18%;
    text-align: right;
    width: 40%;
}
.carousel-indicators {
    bottom: 0;
}
#infoBlock {
    color: #818181;
    padding-bottom: 20px;
    background: rgba(0, 0, 0, 0.8);
}
#infoBlock + .lightBottom {
    background: rgba(0, 0, 0, 0.2);
}
#infoBlock hr {
    border: 1px dashed #E3CCB8;
}
#footer a {
    color: #f39c12;
}
.textContent {
    color: #888;
}
.thumbnail {
    background-color: rgba(255, 255, 255, 0.3);
    border: medium none;
    text-align: center;
}
.faceNewsName a {
    color: #00262f;
    text-decoration: none;
}
.navbar-right {
    margin-right: 0;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #2c3e50;
    color: #fff;
}
.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}
.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}
.form-reg {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.form-reg .form-reg-heading, .form-reg .checkbox {
    margin-bottom: 10px;
}
.form-reg .checkbox {
    font-weight: normal;
}
.form-reg .form-control {
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    margin: 0 0 -1px;
    padding: 10px;
    position: relative;
}
.form-reg .form-control:focus {
    z-index: 2;
}
.note {
    border-left: 1px solid #eee;
    padding: 15px;
}
.bg-success {
    padding: 15px;
}
.form-reg input[name="username"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-reg input[name="email"] {
    border-radius: 0;
}
.form-reg input[name="password"] {
    border-radius: 0;
}
.form-reg input[name="password_confirm"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 5px;
}
.list-group-item.child {
    border-bottom: 0 none;
    border-radius: 0;
    margin-left: 20px;
}
.expand {
    float: right;
    margin: -8px;
    padding: 9px;
}
.menuHeader {
    background: #e5e5e5 none repeat scroll 0 0;
    color: #2c3e50;
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 15px;
    text-align: center;
    margin-top: 50px;
}
.unitImg {
    max-height: 100%;
}
#vk_groups, #vk_groups iframe {
    height: 100% !important;
    width: 100% !important;
}
.priceCatList {
    background: #ff9e00 none repeat scroll 0 0;
    border-radius: 5px 0 0 5px;
    color: #fff;
    float: right;
    font-size: 15pt;
    height: 44px;
    margin-right: -8px;
    padding: 8px;
    position: relative;
}
.priceCatList::after {
    content: " Ã–â€ž";
}
.priceCap {
    background: rgba(0, 0, 0, 0) url("/public/images/cap/pricecap.png") repeat scroll 0 0;
    float: right;
    height: 44px;
    width: 43px;
}
.paginationBlock {
    display: inline-block;
    float: right;
    margin-left: 10px;
    text-align: right;
}
.unitListName {
    font-family: Open Sans Condensed;
    font-size: 18px;
    font-weight: bold;
    height: 55px;
}
.unitListDesc {
    height: 55px;
}
.unitListImg {
    height: 250px;
}
.unitImgBlock {
    margin-bottom: 15px;
}
.table-striped > tbody > tr:nth-of-type(2n) {
    background-color: rgba(24, 188, 156, 0.2);
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: rgba(200, 200, 200, 0.1);
}
#slider1 {
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    height: 94px;
    margin-left: 2px;
    position: relative;
}
.zoomWindow {
    left: 0 !important;
}
.mainImgUnit {
    width: 100%;
}
.clearfix {
    text-align: center;
}
.navbar-inverse {
    background-color: #fff;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    border-radius: 0;
}
.navbar-inverse .navbar-nav > li > a:hover {
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
}
.navbar-inverse .navbar-nav > li > a {
    border-radius: 0;
    font-family: hattori;
    font-size: 14pt;
    text-decoration: none;
    text-transform: uppercase;
}
.pointer {
    cursor: pointer;
}
.white {
    color: #fff;
}
.bigFont {
    font-size: 14pt;
}
.btn-order {
    background-color: #e74363;
    border-color: #e74363;
    color: #ffffff;
    height: 60px;
}
.btn-order:hover {
    background-color: #e74999;
    border-color: #e74999;
}
.bg-info {
    color: #fff;
    padding: 15px;
}
.fontMini {
    font-size: 8pt;
}
.buttonOrderBlock {
    text-align: right;
}
.img-thumbnail {
    vertical-align: top;
}
.mainUnitPrice {
    float: right;
    font-size: 25pt;
}
.filter {
    padding: 5px;
}
.paginationBlock li {
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    padding: 1px 8px;
}
.paginationBlock li.active {
    background: #a1a1a1 none repeat scroll 0 0;
    border: 1px solid #333;
    color: #fff;
}
.pad15 {
    padding: 15px;
}
.unitButtons a {
    font-size: 12pt;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Open Sans Condensed;
    font-weight: bold;
}
.footerPhone {
    float: right;
    padding: 0 5px;
}
.footerEmail {
    float: right;
    padding: 0 5px;
}
space {
    display: block;
    height: 400px;
    width: 100%;
}
img {
    margin: 0;
    padding: 0;
}
.carousel-control img {
    position: relative;
    top: 30%;
}
#slider {
}
.faceRooms {
    padding: 0 10px;
    text-align: center;
}
a {
    color: #e8963e;
    text-decoration: underline;
}
a:hover, a:active, a:focus {
    color: #ff9e00;
    text-decoration: none;
}
.faceUnit {
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    padding: 0;
    width: 24%;
}
#LastUnitCar .carousel-control.left {
    left: -100px;
}
#LastUnitCar .carousel-control.right {
    right: -100px;
}
.faceRools {
    display: inline;
    padding: 15px;
    text-align: center;
}
#roolsList > div {
    padding: 10px;
}
.facePluses {
    text-align: center;
}
.facePluses div {
    padding: 10px;
    text-align: center;
}
.facePluses div img {
    vertical-align: bottom;
}
.faceHeader2 {
    color: brown;
    font-size: 20pt;
    margin-bottom: 10px;
}
.facePluses .caption {
    padding: 9px;
}
.facePluses img {
    max-height: 140px;
}
.center {
    text-align: center;
}
.factoryImage {
    bottom: 224px;
    height: 0;
    position: relative;
    right: -13px;
    display: none;
}
.btn-warning {
    background-color: #e8963e;
    border-color: #e8963e;
    border-radius: 0;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    padding: 10px !important;
}
.callMe {
    font-family: hattori;
    padding: 37px 0;
}
.topPhone {
    color: #9c9c9c;
    font-family: hattori;
    padding: 50px 15px 18px 0;
}
#licenses .title {
    font-size: 20pt;
    margin-bottom: 10px;
    margin-top: 10px;
}
@media all and (max-width: 970px) and (min-width: 750px) {
    .callMe {
        padding: 15px 3px 0 0;
    }
    .topPhone {
        padding: 25px 5px 0 0;
        text-align: right;
    }
    .headBlock3 .navbar-nav li {
        float: inherit;
    }
    .logo {
        padding: 50px 0 0 10px;
    }
}
@media all and (max-width: 750px) {
    #infoBlock {
        text-align: center;
    }
    .callMe {
        padding: 10px 3px 15px 25px;
    }
    .topPhone {
        padding: 10px 3px 0 25px;
        text-align: right;
    }
    .headBlock3 .navbar-nav li {
        float: inherit;
    }
    .headBlock3 {
    }
    .logo {
        padding: 0;
    }
    #topInfoText {
        text-align: center;
    }
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background: #fff none repeat scroll 0 0;
    color: #2c3e50;
}
.dropdown-menu > li {
    background: #4c4c4c none repeat scroll 0 0;
    border-bottom: 1px solid #3c3c3c;
    font-size: 12pt;
}
.dropdown-menu > li > a {
    color: #bfbfbf;
    padding: 10px;
    width: 100%;
}
.dropdown-menu {
    border-radius: 0;
    padding: 0;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: #e8963e none repeat scroll 0 0;
    color: #fff;
}
ul.list li {
    padding: 10px 0 0;
}
.pluses .label-default {
    display: inline-block;
    font-size: 10pt;
    margin: 2px 0;
    padding: 10px;
}
.dropdown a {
    display: inline-block !important;
    padding-right: 10px !important;
}
.dropdown a.dropdown-toggle {
    padding-right: 7px;
    text-align: center;
    text-decoration: none;
}
.face .jumbotron {
    border-radius: 0 0 6px 6px;
    color: #fff;
    margin: 0;
}
.footerMenu {
    text-align: right;
}
.footerMenu a {
    padding: 0 1%;
}
h1 .label-info {
    font-family: Roboto Slab;
    font-size: 48%;
}
.vk_groups {
    width: 100%;
}
.navbar-brand > img {
    padding: 10px 0;
}
#LastUnitCar .carousel-control {
    background-image: none;
}
input .form-control {
    padding: 10px !important;
}
.through {
    text-decoration: line-through;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.modal-body .jumbotron {
    padding: 10px 0;
}
.faceRooms img {
    max-width: 100%;
}
img.unitImg {
    max-width: 100%;
}
.btn-primary {
    background-color: #4c4c4c;
    border-color: #4c4c4c;
}
.carousel-control.left {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#scroll-menu {
    box-shadow: 0 4px 9px -1px rgba(0, 0, 0, 0.2);
    margin: 0;
    z-index: 2;
}
.navbar-default {
    background: #3c3c3c none repeat scroll 0 0;
}
#hexagon::before {
    border-bottom: 25px solid #3c3c3c;
    border-left: 50px solid transparent;
    border-right: 610px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -25px;
    width: 0;
}
#hexagon {
    background: #e8963e none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-size: 15pt;
    padding: 20px;
    position: relative;
    text-align: left;
}
#hexagon::after {
    border-left: 100px solid transparent;
    border-right: 10px solid #e8963e;
    border-top: 45px solid #e8963e;
    bottom: -45px;
    content: "";
    height: 18px;
    left: 0;
    position: absolute;
    width: 100%;
}
#hexagonInverse {
    background: #4c4c4c none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-size: 15pt;
    padding: 20px;
    position: relative;
    text-align: left;
}
#hexagonInverse::before {
    border-bottom: 43px solid #4c4c4c;
    border-left: 581px solid #4c4c4c;
    border-right: 100px solid transparent;
    content: "";
    height: 42px;
    left: 0;
    position: absolute;
    top: -43px;
    width: 0;
}
#hexagon ul {
    list-style: outside none none;
}
.zavodName {
    position: relative;
}
.zavodName .jumbotron {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
}
.afterHexagon {
    position: relative;
    top: 85px;
}
.banners-small .item {
    height: 110px;
    overflow: hidden;
    padding: 6px;
}
.banners-small .item .image {
    float: left;
    height: 100%;
    line-height: 98px;
    padding-right: 5px;
    text-align: center;
    width: 55px;
}
.banners-small .item .image img {
    vertical-align: middle;
}
.banners-small .item .title {
    color: #555555;
    font-size: 14px;
    line-height: 16px;
    max-height: 98px;
    overflow: hidden;
    padding-top: 26px;
    text-align: left;
    text-decoration: none;
}
.banners-small .item .title a {
    color: #767676;
    text-decoration: none;
}
.fixFon {
    background: rgba(0, 0, 0, 0) url("/public/images/face/IMG_6758.jpg") repeat fixed 0 0;
    color: #fff;
}
.consultation {
    font-size: 20pt;
    padding: 70px 0;
}
.consultation h3 {
    font-size: 50pt;
}
.consultBtn {
    float: right;
    line-height: 300px;
}
#history .row {
    padding: 10px;
}
#history .block {
    background: #f6f7f8 none repeat scroll 0 0;
    display: table;
    min-height: 100%;
    width: 100%;
}
#history .block:hover .zoomImage {
    background: #f39c12 none repeat scroll 0 0;
    color: #fff;
}
#history .block:hover .historyYeas {
    color: #f39c12;
}
.historyYeas {
    font-size: 20pt;
    line-height: 120px;
    padding: 10px 0;
    text-align: center;
    transition: all 0.3s ease 0.3s;
}
.historyDesc {
    background: #eceff1 none repeat scroll 0 0;
    display: ruby-base;
    height: 150px;
    padding: 30px;
    vertical-align: middle;
}
.historyImage {
    background: #eceff1 none repeat scroll 0 0;
    padding: 10px;
    text-align: right;
}
.zoomImage {
    background: #eceff1 none repeat scroll 0 0;
    border-radius: 30px;
    color: #3c3c3c;
    cursor: pointer;
    font-size: 20pt;
    padding: 15px 18px 10px;
    position: absolute;
    right: 20%;
    top: 30%;
    transition: all 0.3s ease 0.3s;
}
.licensesImage {
    text-align: center;
}
#midMenu {
    font-weight: bold;
    text-transform: uppercase;
}
ul.nav li a {
    text-decoration: none;
}
.licensesImage .zoomImage {
    background: #fff none repeat scroll 0 0;
    right: 41%;
    top: 27%;
}
#staff .block {
    border: 1px solid #efefef;
    margin-bottom: 20px;
    margin-top: 33px;
    padding-bottom: 20px;
    text-align: center;
}
#staff .fio {
    font-size: 20pt;
    margin-top: 10px;
}
#staff .img {
}
#staff .function {
    color: yellowgreen;
    font-style: italic;
}
#staff h2 {
    border-bottom: 1px solid #ecf0f1;
    margin: 0 15px;
    padding: 0 0 10px 5px;
}
#licenses h2 {
    border-bottom: 1px solid #ecf0f1;
    margin: 0 15px;
    padding: 0 0 10px 0;
}
#licenses .block {
    border: 1px solid #efefef;
    margin-bottom: 20px;
    margin-top: 33px;
    padding: 20px;
    text-align: center;
}
#licenses .block:hover .zoomImage {
    background: #f39c12 none repeat scroll 0 0;
    color: #fff;
}
@media all and (max-width: 1920px) and (min-width: 1550px) {
    .carousel-caption h3 {
        font-size: 50pt;
    }
    .carousel-caption {
        font-size: 15pt;
    }
}
@media all and (max-width: 1550px) and (min-width: 1200px) {
    .carousel-caption h3 {
        font-size: 40pt;
    }
    .carousel-caption {
        font-size: 15pt;
    }
}
@media all and (max-width: 1200px) and (min-width: 1000px) {
    .zoomImage {
        right: 25%;
        top: 30%;
    }
    .headBlock3 {
        text-align: right;
    }
}
@media all and (max-width: 1000px) and (min-width: 900px) {
    .unitListImg {
        height: 230px !important;
    }
    .unit {
        height: 500px;
    }
    .zoomImage {
        right: 25%;
        top: 30%;
    }
}
@media all and (max-width: 1000px) and (min-width: 760px) {
    .navbar-inverse .navbar-nav > li > a {
        font-size: 10pt;
    }
    .unitButtons a {
        display: block;
        font-size: 10pt;
    }
    .unitButtons {
        text-align: center;
    }
    .priceCatList {
        border-radius: 0 0 5px 5px;
        display: initial;
        float: inherit;
    }
    .unitListDesc {
        height: 100px;
    }
    .unitListImg {
        height: 235px;
    }
    .unitListName {
        height: 60px;
    }
    .unit {
        height: 500px;
    }
}
@media all and (max-width: 1500px) and (min-width: 1000px) {
    .navbar-inverse .navbar-nav > li > a {
        font-size: 12pt;
    }
    body {
    }
    .unitButtons {
        margin-top: 10px;
    }
    .unitButtons a {
        font-size: 11pt;
    }
    @-moz-document url-prefix("") {
        body {
            font-size: 10pt !important;
        }
    }
}
@media all and (max-width: 1200px) and (min-width: 900px) {
    .faceUnit {
        width: 32.3333%;
    }
}
@media all and (max-width: 900px) and (min-width: 500px) {
    .faceUnit {
        width: 49.3333%;
    }
}
@media all and (max-width: 500px) {
    .faceUnit {
        width: 100%;
    }
    .unitButtons a {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-top: 14px;
    }
    #LastUnitCar .carousel-control.left {
        left: -10px;
    }
    #LastUnitCar .carousel-control.right {
        right: -10px;
    }
}
@media screen and (max-width: 767px) {
    #slider {
        display: none;
    }
    .row-offcanvas {
        position: relative;
        transition: all 0.25s ease-out 0s;
    }
    .row-offcanvas-right {
        right: 0;
    }
    .row-offcanvas-left {
        left: 0;
    }
    .row-offcanvas-right .sidebar-offcanvas {
        right: -50%;
    }
    .row-offcanvas-left .sidebar-offcanvas {
        left: -50%;
    }
    .row-offcanvas-right.active {
        right: 50%;
    }
    .row-offcanvas-left.active {
        left: 50%;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%;
    }
}
