
.thumbelina {
    -moz-user-select: none;
    font-size: 0;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    white-space: nowrap;
}
.thumbelina li {
    line-height: 0;
    margin: 0;
    padding: 5px;
}
.thumbelina li img {
    border: 1px solid #ccc;
}
.thumbelina li img:hover {
    border: 1px solid #aaa;
}
.thumbelina-but {
    background-color: #ccc;
    border: 1px solid #aaa;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    color: #888;
    cursor: pointer;
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
}
.thumbelina-but:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    color: #fff;
}
.thumbelina-but.disabled, .thumbelina-but.disabled:hover {
    background-color: #efefef;
    box-shadow: none;
    color: #ccc;
    cursor: default;
}
.thumbelina-but.horiz {
    height: 94px;
    line-height: 94px;
    top: -1px;
    width: 20px;
}
.thumbelina-but.horiz.left {
}
.thumbelina-but.horiz.right {
    right: 0;
}
.thumbelina-but.vert {
    height: 20px;
    left: -1px;
    line-height: 20px;
    width: 93px;
}
.thumbelina-but.vert.top {
    border-radius: 5px 5px 0 0;
    top: -22px;
}
.thumbelina-but.vert.bottom {
    border-radius: 0 0 5px 5px;
    bottom: -22px;
}
